#contact {
  background-color: #f50000;
  height: 600px;
  padding-top: 3rem;
  padding-bottom: 5rem;
  color: #191622;
}
.btns {
  display: block;
  text-align: center;
  margin-top: 1rem;
}
.btn-contact {
  color: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  height: 48px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 300px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.1px;
  white-space: wrap;
  border-radius: 8px;
  cursor: pointer;
  border: 0.5px solid #000;
}
li {
  padding: .8rem;
}
.btn-contact {
  filter: drop-shadow(0 0 0.75rem #191622);
}
/* Rocketseat */
.btn-contact.rocketseat {
  color: #FFFFFF;
  background-color: #8257E6
}
.btn-contact.rocketseat:hover,
.btn-contact.rocketseat:focus {
  background-color: #8c67e4;
  filter: drop-shadow(0 0 0.75rem #191622);
}
/* Instagram */
.btn-contact.instagram {
  color: #FFFFFF;
  background-image: linear-gradient(-135deg,#1400c8,#b900b4,#f50000);
}
.btn-contact.instagram:hover,
.btn-contact.instagram:focus {
  background-color: #8c67e4;
  filter: drop-shadow(0 0 0.75rem #191622);
}
/* Github */
.btn-contact.github {
  color: #FFFFFF;
  background-color: #000000
}
.btn-contact.github:hover,
.btn-contact.github:focus {
  background-color: #131313;
  filter: drop-shadow(0 0 0.75rem #191622);
}
/* LinkedIn */
.btn-contact.linkedin {
  color: #FFFFFF;
  background-color: #2867B2
}
.btn-contact.linkedin:hover,
.btn-contact.linkedin:focus {
  background-color: #3270bb;
  filter: drop-shadow(0 0 0.75rem #191622);
}
/* Twitter */
.btn-contact.twitter {
  color: #FFFFFF;
  background-color: #1DA1F2
}
.btn-contact.twitter:hover,
.btn-contact.twitter:focus {
  background-color: #32a2e8;
  filter: drop-shadow(0 0 0.75rem #191622);
}
/* E-mail */
.btn-contact.email {
  color: #FFFFFF;
  background-color: #0085ff
}
.btn-contact.email:hover,
.btn-contact.email:focus {
  background-color: #178fff;
  filter: drop-shadow(0 0 0.75rem #191622);
}